.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.completed {
  text-decoration: line-through #9bf59b;
}

.hidden {
  display: none;
}

.visible {
  display: inline-block;
}
